[client]
socket=/home/mysql/mysql_PORT/tmp/mysql.sock
port=PORT

[mysql]
port=PORT
prompt=\\u@\\d \\r:\\m:\\s>
default-character-set=utf8mb4
no-auto-rehash

[mysqld_safe]
pid-file=/home/mysql/mysql_PORT/tmp/mysqld.pid


[mysqld]
#dir
basedir=/home/mysql/mysql_PORT
datadir=/home/mysql/mysql_PORT/data
tmpdir=/dev/shm
lc_messages_dir=/usr/share/mysql
log-error=/home/mysql/mysql_PORT/log/mysqlerror.log
slow_query_log_file=/home/mysql/mysql_PORT/log/slowquery.log
general_log_file=/home/mysql/mysql_PORT/log/general.log
socket=/home/mysql/mysql_PORT/tmp/mysql.sock


#innodb
innodb_data_home_dir=/home/mysql/mysql_PORT/data
innodb_log_group_home_dir=/home/mysql/mysql_PORT/data
innodb_data_file_path=ibdata1:2G;ibdata2:2G:autoextend
innodb_buffer_pool_instances=3
innodb_log_files_in_group=3
innodb_log_file_size=2G
innodb_log_buffer_size=200M
innodb_flush_log_at_trx_commit=2
innodb_max_dirty_pages_pct=60
innodb_io_capacity_max=6000
innodb_io_capacity=1000
innodb_thread_concurrency=32
innodb_read_io_threads=8
innodb_write_io_threads=8
innodb_open_files=60000
innodb_file_format=Barracuda
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_change_buffering=inserts
innodb_adaptive_flushing=1
innodb_old_blocks_time=1000
innodb_stats_on_metadata=0
innodb_use_native_aio=1
innodb_lock_wait_timeout=5
innodb_rollback_on_timeout=0
innodb_purge_threads=4
innodb_strict_mode=1
innodb_disable_sort_file_cache=ON
innodb_lru_scan_depth=2048
innodb_flush_neighbors=0
innodb_sync_array_size=16
innodb_print_all_deadlocks
innodb_checksum_algorithm=CRC32
innodb_max_dirty_pages_pct_lwm=10
innodb_buffer_pool_size=BUFFER_POOL


#myisam
key_buffer_size=64M
myisam_sort_buffer_size=64M
concurrent_insert=2
delayed_insert_timeout=300

#replication
master-info-file=/home/mysql/mysql_PORT/log/master.info
relay-log=/home/mysql/mysql_PORT/log/relaylog
relay_log_info_file=/home/mysql/mysql_PORT/log/relay-log.info
relay-log-index=/home/mysql/mysql_PORT/log/mysqld-relay-bin.index
slave_load_tmpdir=/home/mysql/mysql_PORT/tmp
slave_net_timeout=300
skip-slave-start
sync_master_info=1000
sync_relay_log_info=1000
master_info_repository=FILE
relay_log_info_repository=FILE


#binlog
log-bin=/home/mysql/mysql_PORT/log/mysql-bin
server_id=SERVER_ID
binlog_cache_size=32K
max_binlog_cache_size=2G
max_binlog_size=500M
binlog-format=ROW
sync_binlog=1000
log-slave-updates=1
expire_logs_days=7
rpl_stop_slave_timeout=300
slave_checkpoint_group=1024
slave_checkpoint_period=300
slave_parallel_workers=0
slave_pending_jobs_size_max=1073741824
slave_rows_search_algorithms='TABLE_SCAN,INDEX_SCAN'
slave_sql_verify_checksum=OFF
master_verify_checksum=OFF

gtid_mode=OFF
enforce_gtid_consistency=OFF


#server
default-storage-engine=INNODB
character-set-server=utf8mb4
collation_server=utf8mb4_unicode_ci
lower_case_table_names=1
skip-external-locking
open_files_limit=65536
safe-user-create
local-infile=1
performance_schema=1
read_only

log_slow_admin_statements=0
log_warnings=1
long_query_time=0.2
slow_query_log=1
general_log=0

query_cache_type=0
query_cache_limit=1M
query_cache_min_res_unit=1K

table_definition_cache=65536
metadata_locks_hash_instances=256
metadata_locks_cache_size=32768
eq_range_index_dive_limit=200
table_open_cache_instances=16

thread_stack=512K
thread_cache_size=256
read_rnd_buffer_size=128K
sort_buffer_size=256K
join_buffer_size=128K
read_buffer_size=128K

port=PORT
skip-name-resolve
skip-ssl
max_connections=8500
max_user_connections=8000
max_connect_errors=65536
max_allowed_packet=128M
connect_timeout=10
net_read_timeout=30
net_write_timeout=60
back_log=1024
thread_handling=one-thread-per-connection

