[server default]
user=mha
password=123456
repl_user=dbsync
repl_password=Cyrz7D42U06bmHH

ssh_user=root
ping_interval=3


master_binlog_dir= /home/mysql/
remote_workdir=/home/mysql/

secondary_check_script= masterha_secondary_check -s remote_host1 -s remote_host2
ping_interval=3
# master_ip_failover_script= /script/masterha/master_ip_failover
# shutdown_script= /script/masterha/power_manager
# report_script= /script/masterha/send_report
# master_ip_online_change_script= /script/masterha/master_ip_online_change
